main {
  margin-top: 10rem;
  padding: 0;
}

.project {
  position: relative;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #0ACF83;
  height: 57rem;
  width: 130rem;
  border-radius: 2rem;
  transition: border 0.8s ease;
}

.social-icons {
  position: absolute;
  top: 50%;
  right: 8rem;
  display: flex;
  flex-direction: column;
}

