main {
  margin-top: 10rem;
  padding: 0;
}

.myself {
  position: relative;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #EB7711;
  height: 57rem;
  width: 115rem;
  border-radius: 2rem;
  transition: border 0.8s ease;
}

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 4rem;
  font-family: 'Comic Sans MS', sans-serif;
}

.work .first , .work .second {
  font-size: 1.5rem;
  font-weight: bold;
  border: 0.1rem solid #b785f8;
  border-radius: 1rem;
  padding: 1.7rem;
  color:#000;
  background-color: #A259FF;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0.5rem 0.5rem  0 #000;
}

.work .first span , .work .second span {
  color: #0ACF83;
}

.work .first ul li , .work .second ul li {
  color: #fff;
  font-size: 1.65rem;
}

.work .first:hover , .work .second:hover {
  transform: translate(-2px, -2px) scale(1); 
  box-shadow: 0.8rem 0.8rem 0 #000;
}

.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.tech-skills {
  display: flex;
  width: 100%;
}

.tech-skills p {
  font-size: 2rem;
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0 2rem 0 0;
  background-color: #FFDD55;
  font-size: 2rem ;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0.4rem 0.4rem  0 #000;
}

.tech-skills button {
  background-color: #0ACF83;
  color: black;
  font-family: 'Chewy', cursive;
  font-size: 2rem ;
  padding: 1rem 2rem;
  border: 0.2rem solid #000;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0.4rem 0.4rem  0 #000;
  margin-right: 1rem;
}

.tech-skills button a {
  text-decoration: none;
  color: black;
}

.tech-skills button:hover {
  transform: translate(-5px, -5px) scale(1.1); 
  box-shadow: 0.8rem 0.8rem 0 #000;
}


.tech-skills button:active {
  transform: translate(-2px, -2px) scale(0.95);
  box-shadow: 0.4rem 0.4rem 0 #000;
}

.soft-skills {
  display: flex;
  width: 100%;
  margin-top: 2.5rem;
}

.soft-skills p {
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0 2rem 0 0;
  background-color: #FFDD55;
  font-size: 2rem ;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0.4rem 0.4rem  0 #000;
}

.soft-skills button {
  background-color: #0ACF83;
  color: black;
  font-family: 'Chewy', cursive;
  font-size: 2rem ;
  padding: 1rem 1.5rem;
  border: 0.2rem solid #000;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0.4rem 0.4rem  0 #000;
  margin-right: 1rem;
}

.soft-skills button:hover {
  box-shadow: 0.6rem 0.6rem 0 #000;
}

.social-icons {
  position: absolute;
  top: 50%;
  right: 15rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}

